<h3>Etape 1 : Trouvez mon identifiant</h3>
<p>Je me suis amusé à disséminer des indices dans les pages de cette application, saurez-vous tous les trouver ?</p>
<p>Je vais vous aider un peu pour commencer : vous devez trouver un moyen d'inspecter la page, et une fenêtre fantastique s'ouvrira.</p>
<p>Les onglets "Elements" et "Styles" vous seront utiles dans cette première étape.</p>
<p>Les styles décrivent l'apparence de la page web, dans cet onglet sont décrits la taille et la disposition des différents éléments,
    la couleur des boutons, la couleur du texte... Ils sont déterminés dans le code à partir d'un fichier nommé CSS.</p>
<p>En cliquant sur "body" dans l'arborescence et en cherchant dans l'onglet "Styles", vous devriez trouver une propriété background-color. En remplacant #000 par #FFF, un précieux indice devrait apparaître.</p>
<p class="indice">L'identifiant est mhvxlvwuhvphfkdqw</p>
<button type="button"  class="btn btn-outline-danger" (click)="goToNextStep()">C'est bon, j'ai trouvé l'identifiant !</button>