<h3>Etape 1 : Trouve l'identifiant</h3>
<p>Il semblerait que des données concernant l'identifiant soient cachés dans cette page</p>
<p>Si tu trouves un moyen d'inspecter la page, une fenêtre devrait s'afficher</p>
<p>Un onglet "Styles" devrait être présent dans cette fenêtre, c'est ici que le design de notre page web est géré, dans cet onglet est décrit la taille et la disposition des différents éléments,
    la couleur des boutons, la couleur du texte etc..
</p>
<p>En cherchant dans l'onglet style, tu devrais trouver une propriété background-color, en remplacant #000 par #FFF, un précieux indice devrait apparaitre</p>
<p class="indice">L'identifiant est mhvxlvwuhvphfkdqw</p>
<button type="button"  class="btn btn-outline-danger" (click)="goToNextStep()">C'est bon, j'ai trouvé l'identifiant !</button>