<div class="titre"> 
    <h1>Laissez-moi vous exposer mon plan...</h1>
    <img src="./assets/yeux-mechants.jpg" alt="Yeux menaçants">
</div>
  

<div class="corps">
    <p>Je me présente :  mon nom est... et bien non, je ne vous le donnerai pas, à vous de le retrouver !</p>
    <p>Tout ce que je peux vous dire, c'est que j'ai posé une bombe dans le château de Châteaubriant et que vous êtes les seuls capables de la désamorcer avant qu'elle n'explose.</p>
    <p>Pour ce faire, rien de plus simple : connectez-vous avec mes identifiants avant la fin du temps imparti...</p>
    <p>Votre seul ami : cette page web... Et peut-être Google et un bloc-note !</p>
    <p>À vous de jouer, que le meilleur gagne !</p>
  
    <button type="button" class="btn btn-outline-danger" (click)="goToGame()">Cliquez ici pour démarrer !</button>
</div>