<h3>Etape 2 : Déchiffrez l'identifiant</h3>
<p>Vous croyiez vous en sortir aussi simplement ? Et bien non, mon indentifiant est crypté !</p>
<p>Heureusement, je sais comment le déchiffrer : César est mon meilleur ami, et son algorithme est très simple ! Je vous explique...</p>
<p>Pour chaque lettre de l'identifiant :</p>
<p> -on prend la lettre</p>
<p> -on transforme la lettre en chiffre en fonction de sa position dans l'alphabet (A=1, B=2...)</p>
<p> -on soustrait 3 à ce chiffre</p>
<p> -on retransforme le chiffre en lettre, tadaaaa c'est tout de suite plus lisible !</p>
<p>Un algorithme simple, mais tout de même fastidieux à dérouler à la main... Alors soyez malins et allez fouiller dans le code source de la page. 
    Sans vouloir vous spoiler la suite, vous y trouverez un moyen de déchiffrer cet identifiant plus rapidement.</p>
<button type="button"  class="btn btn-outline-danger" (click)="goToNextStep()">C'est bon, j'ai déchiffré l'identifiant !</button>