<h3>Etape 2 : Déchiffrer l'identifiant</h3>
<p>Aie, il semblerait que le mot de passe trouvé soit crypté !</p>
<p>Heureusement, je sais comment le déchiffrer, il faut utiliser le code de César, c'est super simple !</p>
<p> Pour chaque lettre de l'identifiant :</p>
<p> On prend la lettre</p>
<p>On transforme la lettre en chiffre en fonction de sa position dans l'alphabet (A=1, B=2...)</p>
<p>On enlève 3 à ce chiffre</p>
<p>On retransforme le chiffre en lettre, tadaaaa c'est tout de suite plus lisible !</p>
<p>Mais ça semble un peu long à faire à la main..., trouve un moyen d'afficher le code source de la page. 
    Dans le code source, tu devrais trouver un moyen de déchiffrer cet identifiant plus rapidement</p>
<button type="button"  class="btn btn-outline-danger" (click)="goToNextStep()">C'est bon, j'ai déchiffré l'identifiant !</button>