.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    color:white;
    margin-right: auto;
    margin-left: auto;
}

button{
    margin-top: 8px;
}

.jeu-container{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    font-family: "Roboto", monospace;
    color: white;
    text-align: center;
}


.bombe{
    margin-right: auto;
    margin-left: auto;
    display: row;
    justify-content: center;
    text-align: center;
}

.bombe img{
    width: 150px;
}

.title{
    color:rgb(182, 14, 11);
    text-align: center;
    font-family: "Roboto", monospace;
}

.container-jeu{
    height: 100%;
}