.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    color:white;
    margin-right: auto;
    margin-left: auto;
}

button{
    margin-top: 8px;
}

.jeu-container{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}