<h3>Etape 4 : Décryptez le mot de passe</h3>
<p>Encore une fois,  j'ai crypté mon mot de passe </p>
<p>Mais cette fois-ci, je ne peux pas vous aider avec un slendide algorithme... Et pour cause, je ne sais pas comment décrypter mon mot de passe de manière explicite ! 
    Cependant, je ne suis pas un expert et il s'agit sûrement d'une méthode de cryptage connue. 
    Peut-être Internet pourra-t-il vous aider à trouver le cryptage utilisé, pourvu que le mot de passe ne soit pas trop sécurisé...
</p>
<p>Rendez-vous sur https://hashdecryption.com/decrypt.php, copiez-collez le mot de passe dans le champ en bas de page et faîtes travailler le site (points bonus à celui qui saura nous nommer l'algorithme).</p>
<p>Et c'est enfin le moment de tenter votre chance et de saisir l'identifiant et le mot de passe trouvés pour désamorcer la bombe !</p>

